# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# OSX system files
*.DS_Store

# Microchip MPLABX / XC8 related files
# See: http://microchip.wikidot.com/mplabx:directory-structure

*.cmf
*.d
funclist
*.hxl
*.lst
*.mk
*.map
*.mum
*.p1
*.pre
*.rlf
*.sdb
*.sym

*/system_config/*

# Note - these ignore the 'private' directory which is machine
# specific information, meaning any USB debug tools won't be
# version controlled.
#
# See: http://electronics.stackexchange.com/questions/131588/which-files-to-version-control-in-mplabx-nbproject-directory
**/nbproject/**
!**/nbproject/configurations.xml
!**/nbproject/project.properties
!**/nbproject/project.xml
/MilestoneOne/firmware/EmbeddedTeam13.X/nbproject/private/